@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeue.otf");
  font-weight: normal;
  font-style: normal;
}
main {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.bg-primary {
  background: none;
  background-color: #0293ff;
}
.bg-primary-dark {
  background: none;
  background-color: #006ec1;
}
.bg-primary-light {
  background: none;
  background-color: #a6d9ff;
}
.bg-text {
  background: none;
  background-color: #fff;
}
.bg-primary-text {
  background: none;
  background-color: #333;
}
.bg-secundary-text {
  background: none;
  background-color: #727272;
}
.bg-disable-text {
  background: none;
  background-color: #9e9e9e;
}
.bg-accent {
  background: none;
  background-color: #ff5252;
}
.bg-blue-grey {
  background: none;
  background-color: #eceff1;
}
.bg-base {
  background: none;
  background-color: #f0f0f0;
}
.text-primary {
  color: #0293ff;
}
.text-primary-dark {
  color: #006ec1;
}
.text-primary-light {
  color: #a6d9ff;
}
.text-text {
  color: #fff;
}
.text-primary-text {
  color: #333;
}
.text-secundary-text {
  color: #727272;
}
.text-disable-text {
  color: #9e9e9e;
}
.text-accent {
  color: #ff5252;
}
.text-blue-grey {
  color: #eceff1;
}
.text-base {
  color: #f0f0f0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #f0f0f0;
  z-index: 0;
}
.main-container {
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 0;
  padding: 0;
  position: relative;
}
.browser-upgrade {
  background-color: #eceff1;
  width: 75%;
  margin: 25px auto 0px;
  padding: 0 25px;
  text-align: center;
}
.rotater {
  animation: aniRot 5s linear infinite;
}
.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  z-index: 1;
}
.logo.tiny {
  width: 45px;
  height: 45px;
}
.logo.small {
  width: 75px;
  height: 75px;
}
.logo.medium {
  width: 120px;
  height: 120px;
}
.logo.large {
  width: 150px;
  height: 150px;
}
.full {
  width: 100%;
  height: 100%;
}
.full-x {
  width: 100%;
}
.full-y {
  height: 100%;
}
.z-index-2 {
  z-index: 2;
}
.over-hidden {
  overflow: hidden;
}
.building-wrapper {
  width: 100%;
  height: 100%;
}
.building-bg {
  background-image: url("../images/building.png");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  position: absolute;
  top: 25%;
  bottom: 0px;
  right: 25px;
  left: 25px;
  background-size: contain;
}
.building-title {
  width: 100%;
  text-align: center;
}
.building-title i {
  color: #727272;
  text-shadow: 1px 1px 0 #323232, 2px 2px 0 #323232, 3px 3px 0 #323232;
}
.building-title h1 {
  color: #0293ff;
  font-family: "BebasNeue", sans-serif;
  font-size: 72px;
  font-weight: normal;
  text-shadow: 1px 1px 0 #002542, 2px 2px 0 #002542, 3px 3px 0 #002542, 4px 4px 0 #002542, 5px 5px 0 #002542;
}
.building-title h1 div {
  line-height: 1;
  display: inline-block;
  padding: 5px 0;
}
header.nav-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  z-index: 9999;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #0293ff;
}
.nav-head {
  width: auto;
  height: 100%;
  line-height: 50px;
}
.nav-head .nav-logo {
  width: 75px;
  height: 75px;
  margin-top: 7px;
  margin-left: 15px;
}
.nav-head .nav-title {
  color: #f0f0f0;
  height: 100%;
  overflow-x: hidden;
  padding-right: 25px;
  text-shadow: 1px 1px 0 #004a82, 2px 2px 0 #004a82, 3px 3px 0 #004a82, 4px 4px 0 #004a82, 5px 5px 0 #004a82, 6px 6px 0 #004a82, 7px 7px 0 #004a82, 8px 8px 0 #004a82, 9px 9px 0 #004a82, 10px 10px 0 #004a82, 11px 11px 0 #004a82, 12px 12px 0 #004a82, 13px 13px 0 #004a82, 14px 14px 0 #004a82, 15px 15px 0 #004a82, 16px 16px 0 #004a82, 17px 17px 0 #004a82, 18px 18px 0 #004a82, 19px 19px 0 #004a82, 20px 20px 0 #004a82, 21px 21px 0 #004a82, 22px 22px 0 #004a82, 23px 23px 0 #004a82, 24px 24px 0 #004a82, 25px 25px 0 #004a82, 26px 26px 0 #004a82, 27px 27px 0 #004a82, 28px 28px 0 #004a82, 29px 29px 0 #004a82, 30px 30px 0 #004a82, 31px 31px 0 #004a82, 32px 32px 0 #004a82, 33px 33px 0 #004a82, 34px 34px 0 #004a82, 35px 35px 0 #004a82;
  position: relative;
}
.nav-head .nav-title h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
  margin-right: 15px;
  line-height: 50px;
}
.nav-head .nav-title span {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  line-height: 50px;
}
.nav-content {
  background: none;
  width: auto;
  height: 100%;
  line-height: 50px;
  margin-left: 280px;
  box-shadow: none;
  overflow: hidden;
}
.nav-content .nav-list {
  line-height: 50px;
  height: 100%;
}
.nav-content .nav-list li a {
  line-height: 51px;
  text-transform: uppercase;
  font-weight: 500;
}
.nav-content .nav-list li a.active {
  background-color: #006ec1;
}
.margin-nav {
  margin-top: 50px;
}
.padding-nav {
  padding-top: 50px;
}
.inicio {
  background-color: #f0f0f0;
  overflow: auto;
  position: relative;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.15);
}
.primero {
  background-color: #0293ff;
}
.sistema h4 {
  color: #fff;
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 3px 3px 2px rgba(0,0,0,0.1);
}
.sistema p {
  text-indent: 10px;
  text-align: justify;
  color: #fff;
  font-size: 25px;
  padding: 10px;
}
.estudiante-coordinador {
  color: #333;
  overflow: auto;
  background-color: #f0f0f0;
}
.estudiante-coordinador h3 {
  text-indent: 0;
  padding: 5px;
  text-indent: 10px;
  border-bottom: 4px solid #ff5252;
  text-align: center;
}
.estudiante-coordinador p {
  font-size: 16px;
  text-align: justify;
  text-indent: 25px;
}
.organiza {
  color: #333;
  overflow: auto;
  background-color: #f0f0f0;
}
.organiza h3 {
  text-indent: 0;
  padding: 5px;
  text-indent: 10px;
  border-bottom: 4px solid #ff5252;
  text-align: center;
}
.organiza p {
  font-size: 16px;
  text-align: justify;
  text-indent: 25px;
}
.atencion {
  background-color: #ff5252;
  overflow: inherit;
}
.atencion h3 {
  text-align: center;
  color: #fff;
  padding: 12px;
  text-transform: uppercase;
  text-shadow: 3px 3px 2px rgba(0,0,0,0.25);
}
.mov {
  background-image: url("../images/m.jpg");
  background-repeat: repeat-x;
  height: 300px;
  background-color: #f00;
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: bg-move 50s linear infinite;
  background-color: #fff;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
}
@-moz-keyframes bg-move {
  from {
    background-position: 0px;
  }
  to {
    background-position: 800px;
  }
}
@-webkit-keyframes bg-move {
  from {
    background-position: 0px;
  }
  to {
    background-position: 800px;
  }
}
@-o-keyframes bg-move {
  from {
    background-position: 0px;
  }
  to {
    background-position: 800px;
  }
}
@keyframes bg-move {
  from {
    background-position: 0px;
  }
  to {
    background-position: 800px;
  }
}
.nuestras {
  background-color: #0293ff;
  font-style: italic;
  text-align: center;
  overflow: inherit;
  color: #fff;
}
.app {
  color: #333;
  overflow: auto;
  background-color: #f0f0f0;
}
.app h4 {
  text-indent: 0;
  padding: 5px;
  text-indent: 10px;
  border-bottom: 4px solid #ff5252;
  text-align: center;
}
.app p {
  font-size: 16px;
}
.app text-align justify {
  text-indent: 25px;
}
.form-bg {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.form-logo-container {
  width: 50%;
  margin: 0 auto;
  padding: 25px;
  position: relative;
  max-width: 400px;
  min-width: 300px;
}
.form-logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  right: 50%;
  transform: translatex(50%);
}
.formulario {
  text-align: center;
  margin-top: 35px;
}
.form-title {
  color: #727272;
  text-align: center;
  text-shadow: 1px 1px 0 #323232;
}
.form-field input[type=text]:focus + label,
.form-field input[type=email]:focus + label,
.form-field input[type=password]:focus + label {
  color: #0293ff;
}
.form-field input[type=text]:focus,
.form-field input[type=email]:focus,
.form-field input[type=password]:focus {
  box-shadow: 0 1px 0 0 #0293ff;
  border-bottom: 1px solid #0293ff;
}
.form-field button {
  background-color: #0293ff;
  margin-bottom: 10px;
}
.form-field button:hover {
  background-color: #006ec1;
}
.form-field .select-wrapper ul li.disabled {
  background-color: #eceff1 !important;
}
.form-field .select-wrapper ul li.disabled span {
  color: #9e9e9e !important;
}
.form-field .select-wrapper ul li.active {
  background-color: #0293ff;
}
.form-field .select-wrapper ul li.active span {
  color: #fff;
  text-indent: 10px;
}
.form-field .select-wrapper ul li.active:hover {
  background-color: #0293ff;
}
.form-field .select-wrapper ul li.active:hover span {
  color: #fff;
  text-indent: 10px;
}
.form-field .select-wrapper ul li:hover {
  background-color: #eceff1;
}
.form-field .select-wrapper ul li span {
  color: #0293ff;
}
.form-field .select-wrapper i.mdi-navigation-arrow-drop-down,
.form-field .select-wrapper input.select-dropdown {
  color: #9e9e9e;
  text-indent: 10px;
}
.form-link {
  color: #ff5252;
  font-size: 18px;
  transition: color 0.25s;
}
.form-link:hover {
  color: #fd0000;
}
.page-container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.quienes-somos {
  background-color: #0293ff;
  overflow: auto;
  position: relative;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.15);
}
.quienes-somos h2 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 3px 3px 2px rgba(0,0,0,0.25);
}
.quienes-somos p {
  text-indent: 25px;
  text-align: justify;
  color: #a6d9ff;
  font-size: 16px;
}
.coor-bg {
  background-image: url("../images/coor.png");
  background-repeat: no-repeat;
  background-position: left , center;
  background-size: 50% auto;
  height: 300px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  z-index: 0;
}
.obj-mision-vision {
  color: #333;
  overflow: auto;
  background-color: #f0f0f0;
}
.obj-mision-vision .center-align h3 {
  text-indent: 0;
}
.obj-mision-vision h3 {
  padding: 5px;
  text-indent: 10px;
  border-bottom: 4px solid #ff5252;
}
.obj-mision-vision p {
  font-size: 16px;
  text-align: justify;
  text-indent: 25px;
}
.valores {
  background-color: #ff5252;
  color: #fff;
  overflow: auto;
  position: relative;
  z-index: -1;
}
.valores h3 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 3px 2px rgba(0,0,0,0.25);
}
.valores ul {
  border-radius: 2px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
.valores ul li {
  color: #333;
  padding: 15px 20px;
}
.valores ul li i {
  color: #727272;
  padding-right: 10px;
  font-size: 38px;
  vertical-align: middle;
}
.valores ul li:nth-child(odd) {
  background-color: #f0f0f0;
}
.valores ul li:nth-child(even) {
  background-color: #d8d8d8;
}
.valores ul li span {
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
}
.stellax-container {
  position: relative;
  height: 500px;
}
.stellax-container.first {
  height: 550px;
}
.stellax-hero {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
  top: 0;
}
main {
  width: 100%;
  height: 100%;
  position: relative;
}
.side-bar {
  position: absolute;
  right: 15px;
  bottom: 15px;
  top: 65px;
  width: 235px;
  background-color: #fff;
  overflow: hidden;
}
.side-bar .side-bar-form {
  padding: 5px 15px;
}
.side-bar .side-bar-form input[type=text]:focus + label {
  color: #0293ff;
}
.side-bar .side-bar-form input[type=text]:focus {
  box-shadow: 0 1px 0 0 #0293ff;
  border-bottom: 1px solid #0293ff;
}
.side-bar .side-bar-form button {
  background-color: #0293ff;
  margin-bottom: 10px;
}
.side-bar .side-bar-form button:hover {
  background-color: #006ec1;
}
.side-bar .side-bar-form .input-field {
  display: inline-block;
}
.side-bar .side-bar-form .input-field.le {
  width: 80%;
}
.side-bar .side-bar-form .input-field.in {
  width: 18%;
}
.materias {
  position: absolute;
  margin: 0;
  top: 65px;
  bottom: 45px;
  overflow: auto;
  border-left: none;
  border-right: none;
  border-top: 1px solid #006ec1;
}
.materias .collapsible-header {
  border-bottom: 1px solid #a6d9ff;
  font-weight: 500;
}
.secciones {
  margin: 0;
  border: none;
  border-radius: 0;
}
.secciones .collection-item {
  background-color: #eceff1;
  border-bottom: 1px solid #959595;
}
.remove-trash {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: #ff5252;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
}
#parrilla {
  position: absolute;
  left: 15px;
  bottom: 15px;
  right: 265px;
  top: 65px;
  background-color: #fff;
  overflow: hidden;
}
#horas-header {
  width: 120px;
  margin: 0;
  padding: 0;
  border-right: 1px solid rgba(114,114,114,0.25);
}
#horas-header ul {
  margin: 0;
  padding: 0;
}
#horas-header ul li {
  padding: 5px;
  text-align: center;
  line-height: 1.5;
  height: 32px;
}
#horas-header ul li:nth-child(odd) {
  background-color: #fff;
}
#horas-header ul li:nth-child(even) {
  background-color: #f0f0f0;
}
.horas-wrapper {
  position: relative;
  border-right: 1px solid rgba(114,114,114,0.25);
}
.horas-wrapper ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
@-moz-keyframes aniRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes aniRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes aniRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes aniRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
