<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Organiza2</title>
  <meta name="description" content="">

  <link rel="shortcut icon" href="favicon.ico"/>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- ESTYLES -->
  <link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- ESTYLES -->
</head>
<body ng-app="org2">
  <!--[if lt IE 8]>
  <div class="card depth-1 browserupgrade">
    <p >Estas usando un explorador web <strong>desactualizado</strong>. Porfavor <a href="http://browsehappy.com/">actualiza tu explorador web</a> para tener una mejor experiencia.</p>
  </div>
  <![endif]-->


  <!-- CONTENIDO -->

  <!-- NAV BAR -->
  <header class="nav-bar">
    <a href="index.html" class="nav-head left">
      <span class="nav-logo logo left"></span>
      <div class="nav-title left">
        <h2>organiza<span>2</span></h2>
      </div>
    </a>
    <nav class="nav-content">
      <ul class="nav-list right">
        <li><a href="#" id="download"  class="waves-effect waves-light">guardar</a></li>
        <li><a href="#"                class="waves-effect waves-light">descargar</a></li>
        <li><a href="/logout"          class="bg-accent waves-effect waves-light">salir</a></li>
      </ul>
    </nav>   
  </header>
  <!-- NAV BAR -->


  <div ng-drag-clone="" style="z-index: 9999; background:red; height: 50px; width: 50px">
    {{clonedData.s}}
  </div>

  <!--  APLICACION  -->
  <main>
    <!-- SIDE BAR -->
    <div class="side-bar z-depth-1">
      <form class="side-bar-form">
        <div class="input-field le">
          <input id="le_nivel" type="text">
          <label for="le_nivel">Nivel</label>
        </div>

        <div class="input-field in">
          <button type="submit" class="btn-floating btn waves-effect waves-light bg-primary"><i class="mdi-content-send right"></i></button>
        </div>
      </form>

      <ul collapsible childs="mats" class="materias">
      </ul>

      <div class="remove-trash">
        <i class="mdi-action-delete"></i>
      </div>
      
    </div>
    <!-- SIDE BAR -->

    <!--  PARRILLA  -->
    <div id="parrilla" class="z-depth-1 toPDF" ng-drop="true" ng-drop-success="onDrop($data,$event)">
      <table>
        <thead>
          <tr>
            <th day-wrapper="1"></th>
            <th day-wrapper="2">Lunes</th>
            <th day-wrapper="3">Martes</th>
            <th day-wrapper="4">Miercoles</th>
            <th day-wrapper="5">Jueves</th>
            <th day-wrapper="6">Viernes</th>
            <th day-wrapper="6">Sabado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="horas-header">
              <ul>
                <li>7:00 a 7:50</li>
                <li>7:50 a 8:40</li>
                <li>8:45 a 9:35</li>
                <li>9:35 a 10:25</li>
                <li>10:30 a 11:20</li>
                <li>11:20 a 12:10</li>
                <!-- <li></li> -->
                <li>1:10 a 2:00</li>
                <li>2:00 a 2:50</li>
                <li>2:55 a 3:45</li>
                <li>3:45 a 4:35</li>
                <li>4:40 a 5:30</li>
                <li>5:30 a 6:20</li>
                <li>6:20 a 7:10</li>
                <li>7:15 a 8:05</li>
                <li>8:05 a 8:55</li>
                <li>8:55 a 9:45</li>
              </ul>
            </td>
            <td class="horas-wrapper" ng-repeat="(key, dia) in horario">
              <ul dia="{{key}}">
                <li ng-repeat="d in dia" style="position: absolute; overflow:hidden; width:100%; top: {{(d.v.hora_i * 32) - 32}}px; height:{{((d.v.hora_f - d.v.hora_i) * 32) + 32}}px; background-color: rgba(0,125,255, 0.25);" class="color-primary-text center-align">
                  {{d.p}} {{d.n}} {{d.v.aula}} 
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <!--  PARRILLA  -->
  </main>
  <!--  APLICACION  -->
  <!-- CONTENIDO -->


  <!-- SCRIPTS -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/materialize/dist/js/materialize.js"></script>
  <script src="../bower_components/stellar.js/jquery.stellar.js"></script>

  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/ngDraggable/ngDraggable.js"></script>
  <script src="scripts/app.js"></script>

  <!-- SCRIPTS -->

</body>
</html>